# Python
__pycache__/
*.pyc
venv/
env/
backendscan/AI/ocr/Lib/

# ML models
backendscan/onnx_model/

# datasets lourds
backendscan/projetia/archive*/
*.csv

# Node.js
node_modules/

# Flutter
build/
.dart_tool/
.packages
.pub-cache/
.pub/

# Android / iOS / Desktop generated
android/.gradle/
ios/Pods/
linux/flutter/
windows/flutter/
macos/Flutter/

# System
.DS_Store